<ion-header>
    <ion-navbar>
        <ion-title>search for recipes</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <button class="btn" ion-button round (click)="getRecipesData()">Add Recipe</button>
    <p class="defaultList" id="defaultList">You currently don't have any recipes added. </p>
    <div id="recipesContainer">
        <ion-list class="ion-list">
            <ion-item-sliding *ngFor="let recipe of food; let i = index" #slidingItem (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
                <ion-item text-wrap class="ion-item">
                    {{recipe.label}}
                    <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                <div class="ingredientSteps" *ngIf="isGroupShown(i)"> 
                    {{recipe.ingredientLines}}<br>
                </div>
                </ion-item>
                <ion-item-options side="right">
                    <button ion-button color="danger" (click)="removeItem(recipe)">Delete</button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </div>
</ion-content>