<ion-header>
    <ion-navbar>
        <ion-title>search for recipes</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <button class="btn" ion-button round (click)="getRecipesData()">Add Recipe</button>
    <p class="defaultList" id="defaultList">You currently don't have any recipes added. </p>
    <div id="recipesContainer">
        <ion-list class="ion-list">
            <ion-item-sliding *ngFor="let recipe of food; let i = index" #slidingItem (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
                <ion-item text-wrap class="ion-item">
                    {{recipe.label}}
                    <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                <div class="ingredientSteps" *ngIf="isGroupShown(i)"> 
                    {{recipe.ingredientLines}}<br>
                </div>
                </ion-item>
                <ion-item-options side="right">
                    <button ion-button color="danger" (click)="removeItem(recipe)">Delete</button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </div>
</ion-content>

<nutrition-calculator [options]="drawerOptions">
    
	<div class="content" *ngFor="let recipe of food; let k = index" [ngClass]="{active: isGroupShown(k)}" (click)="toggleGroup(k)" text-wrap>
	  {{recipe.label}}
	  <p text-wrap>
	    {{recipe.url}}
      </p>
        <ion-item text-wrap class="ion-item">
            Nutritional Data
        <ion-icon color="success" item-right [name]="isGroupShown(k) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
        <div class="ingredientSteps" *ngIf="isGroupShown(k)" > 
        Total Calories for this recipe: {{recipe.calories}}<br>

        {{recipe.totalNutrients.FAT.label}}: {{recipe.totalNutrients.FAT.quantity}}{{recipe.totalNutrients.FAT.unit}}<br>
        {{recipe.totalNutrients.CHOCDF.label}}: {{recipe.totalNutrients.CHOCDF.quantity}}{{recipe.totalNutrients.CHOCDF.unit}}<br>
        {{recipe.totalNutrients.FIBTG.label}}: {{recipe.totalNutrients.FIBTG.quantity}}{{recipe.totalNutrients.FIBTG.unit}}<br>
        {{recipe.totalNutrients.SUGAR.label}}: {{recipe.totalNutrients.SUGAR.quantity}}{{recipe.totalNutrients.SUGAR.unit}}<br>
        {{recipe.totalNutrients.PROCNT.label}}: {{recipe.totalNutrients.PROCNT.quantity}}{{recipe.totalNutrients.PROCNT.unit}}<br>
        {{recipe.totalNutrients.NA.label}}: {{recipe.totalNutrients.NA.quantity}}{{recipe.totalNutrients.NA.unit}}<br>
        
        </div>
        </ion-item>
	</div>
</nutrition-calculator>