page-preferences {
  ion-content {
  .ion-list {
    background-color: #ff7070;
  
  }
  .ion-item {
    color: white;
    background-color: #ff7070;
  }
  .ion-label {
    color: white;
    background-color: #ff7070;
    }
  }
}